@import Url("https://www.nerdfonts.com/assets/css/webfont.css");
@import "tailwindcss";

@theme {
    --font-icons: "./assets/fonts/UbuntuNerdFont-Regular.ttf";
    --color-np: #f2d420;
    --shadow-np: 4px 4px 20px #0000003f;
}
